* {
   /* border: 1px solid red !important; */
   color: #5f6771;
}

@import url('https://rsms.me/inter/inter-ui.css');

.hide-section {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Inter UI', sans-serif;
  z-index: -1000;
}

i:hover, a:hover {
  text-decoration: none;
  color: #d0a233;
}

a {
  color: white;
}

.underline:hover {border-bottom: 2px solid #d0a233; padding-bottom:2px;}

.underlined {border-bottom: 3px solid #d0a233; padding-bottom:8px;}

.underlined-narrow {border-bottom: 2px solid #d0a233; padding-bottom:2px;}

a.underlined-thin {border-bottom: 1px solid #d0a233; padding-bottom:1px; color: #5f6771;}

a.underlined-thin:hover {border-bottom: 1px solid #d0a233; padding-bottom:1px; color: #d0a233;}

.fixed-top {
  top: 1em;
  background-color: black;
}
.navbar-light .navbar-toggler {
  /* border-color: white; */
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
}

.nav-bar {
  padding-top: 4em;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #d0a233;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #d0a233;
}

.underline:hover {
  border-bottom: 3px solid #d0a233;
  padding-bottom:2px;
  display: inline-block;
  color: #d0a233;
}

h3 {
  position: relative;
}

.anchor {
  position: absolute;
  top: -3em;
}

/*<!-- welcome message -->*/
.img-coffee-container {
  margin: 12em 0 2em 0;
  height: 30em;
  width: auto;
}

.img-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Container holding the image and the text */
.container-coffee {
    position: relative;
    text-align: center;
    color: white;
}

/* top left text */
.hello {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.hello-1 {
  /* font-family: 'Lobster', cursive; */
  font-size: 1.8em;
  font-weight: bold;
}

.lobster {
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
}

.welcome-text {
    background-color: white;
    position: absolute;
    top: 1.5em;
    left: 3em;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 2.8em;
    /* font-weight: 100; */
    margin-top: 2em;
    /*color: #5f6771;*/
    /*font-family: 'Merriweather', serif;*/
}

.hello-text {
    background-color: white;
    position: absolute;
    top: 3.5em;
    left: 0.5em;
    text-align: left;
    font-size: 1.1em;
    /* letter-spacing: 0.05em; */
    line-height: 1.8em;
    font-weight: 100;
    /* font-weight: 100; */
}

.hello-text1 {
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: -28em;
  /*top: 3.5em;
  left: 5.5em;*/
  width: 85%;
  height: 25em;
  text-align: left;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  color: #d0a233;
  font-family: 'Merriweather', serif;
}

.business-card-img1 {
  width: 20em;
  height: 100%;
  object-fit: cover;
  float: left;
}

.business-card-text1 {
  padding-top: 2em;
  line-height: 2em;
  padding-left: 21em;
}


.interested {
  padding-top: 0.4em;
  font-size: 1.2em;
}

.shadow {
  /* -- CSS3 - add a drop shadow -- */
-webkit-box-shadow: 0 0 25px 15px #fff;
-moz-box-shadow: 0 0 25px 15px #fff;
box-shadow: 0 0 25px 15px #fff;
background: #ffffff;
/*border: 1px solid #ababab;*/
/*-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;*/
/*border-radius: 5px;*/
outline: none;
padding: 1em;
/*width: 225px;
height: 25px;*/
}

.shadow-grey {
  /* -- CSS3 - add a drop shadow -- */
-webkit-box-shadow: 0 0 15px 7px #D3D3D3;
-moz-box-shadow: 0 0 15px 7px #D3D3D3;
box-shadow: 0 0 15px 7px #D3D3D3;
background: #D3D3D3;
outline: none;
padding: 0.5em;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}

.img-about-container {
  margin: 2em 0 2em 0;
  height: 30em;
  width: auto;
}

.about {
  margin: 0 1em 0 1em;
}

/*source: https://pixabay.com/en/bokeh-gray-abstract-background-1780217/*/
/*https://pixabay.com/en/silver-background-texture-2143730/*/
/*https://unsplash.com/photos/aYDbcCsLGiQ*/
.grey-background {
  /*background-image: url("../images/grey-background.png");
  margin: 6em 0 0 -2em;
  height: 40em;*/
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../images/desert.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center center;
  color: #fff;
  width: 100%;
  height: 30em;
  margin: 6em 0 0 0;
  padding: 10em 4em 10em 4em;
}

.portfolio {
  font-size: 2em;
  line-height: 2em;
  font-weight: lighter;
  text-align: left;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.2em;
  color: white;
  margin: -7.2em 0 1em 6em;
}

.card {
  left: 30em;
}

.card-block {
  color: black;
  margin-top: 1em;
  font-family: 'Merriweather', serif;
}

.card-text {
  color: black;
}

.contact {
  margin-top: 4em;
  margin-bottom: 4em;
}

/*https://codepen.io/PetrusR3x/pen/PPePoG*/
.contact-mobile {
  display: none;
}

.business-card {
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: -26em;
  /*top: 3.5em;
  left: 5.5em;*/
  width: 35em;
  height: 20em;
  text-align: left;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  color: #d0a233;
  font-family: 'Merriweather', serif;
}

.business-card-img {
  width: 13em;
  height: 100%;
  object-fit: cover;
  float: left;
}

.business-card-text {
  padding-top: 4em;
  line-height: 2em;
}

.name, .title {
  color: black;
  padding-left: 1em;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
}

.title {
  font-size: 0.8em;
}

.fa-envelope, .fa-github {
  color: black;
  padding-left: 1em;
}

.fa-linkedin {
  color: black;
}

.social {
  font-size: 20px;
  display: inline;
  padding: 0 0.3em 0 0;
}

.email {
  color: black;
  font-size: 1em;
}

.footer {
  font-size: 0.9em;
  color: white;
  line-height: 1.9em;
  text-align: center;
  position: relative;
  height: 3em;
  margin-bottom: 2em;
}

/*mevulo card*/
.github-card {
  background-color: white;
  position: absolute;
  /*margin: 0 auto;*/
  top: -8em;
  right: 10em;
  width: 20em;
  height: auto;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  color: #d0a233;
  font-family: 'Merriweather', serif;
  padding-bottom: 1em;
}

.mevulo-card-img {
  width: 100%;
  height: 10em;
  object-fit: cover;
  float: none;
}

.mevulo-card-text {
  padding-top: 1em;
  line-height: 2em;
}

.check-it {
  font-size: 0.9em;
}

.product-name, .product-title {
  color: black;
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
}

.product-title {
  font-size: 0.8em;
}

/*github card*/
.mevulo-card {
  background-color: white;
  position: absolute;
  /*margin: 0 auto;*/
  top: -10em;
  right: 33em;
  width: 20em;
  height: auto;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  color: #d0a233;
  font-family: 'Merriweather', serif;
  padding-bottom: 1em;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<zoom out on hover>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<zoom out on hover>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.grow { transition: all 1s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.logo-mobile {
  display: none;
}

.img-background-mobile {
  display: none;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<mobile>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<          >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 480px) {
  .navbar-brand {
    display: none;
  }

  .logo-mobile {
    display: inline-block;
    padding-top: 4em;
  }

  .nav-bar {
    padding-top: 1em;
  }

  .navbar-nav .nav-link {
    padding-left: 3em;
  }

  .img-coffee-container {
    margin: 4em 0 0 0;
    height: 25em;
  }

  .shadow {
    padding: 0;
  }

  .img-background {
    display: none;
  }

  .img-background-mobile {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .welcome-text {
    line-height: 2.5em;
    top: 0;
    left: 0;
    padding: 0 1em 1em 1em;
  }

  .hello-text1 {
      top: 2em;
      left: 0;
      text-align: left;
      font-size: 1em;
      letter-spacing: 0.05em;
      line-height: 1.6em;
      font-weight: 100;
      width: 100%;
      height: 20em;
      text-align: center;
  }

  .business-card-img1 {
    display: none;
  }

  .business-card-text1 {
    padding-top: 0;
    line-height: 2em;
    padding-left: 0;
  }

  .br-mobile {
    display: none;
  }

  .about-mobile {
    padding-top: 1em;
  }

  .about {
    margin: 0;
    padding: 1em;
  }

  .portfolio {
    margin: -4em 0 1em 1em;
  }

  .github-card {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: auto;
    right: auto;
  }

  .mevulo-card {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: auto;
    right: auto;
    margin-top: 3em;
  }

  .contact-desktop {
    display: none;
  }

  .contact-mobile {
    display: inline-block;
    margin-bottom: 4em;
  }

  .contact {
    margin-bottom: 5em;
  }

  .business-card-mobile {
    background-color: white;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 20em;
    text-align: left;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    color: #d0a233;
    font-family: 'Merriweather', serif;
  }

  .business-card-img-mobile {
    width: 8em;
    height: 100%;
    object-fit: cover;
    float: left;
    padding-left: -15px;
  }

  .business-card-text {
    padding: auto;
  }

  .name {
    padding-left: 0.5em;
  }

  .img-about-container-mobile {
    margin: 2em 0 2em 0;
    height: 10em;
    width: auto;
  }

  .grey-background {
    margin: 2em 0 30em 0;
    padding: 10em 0 10em 0;

  }

  .footer {
    margin: 0 auto;
    padding-bottom: 1em;
  }
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<mobile for iPhone SE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<          >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 320px) {
  .navbar-brand {
    display: none;
  }

  .logo-mobile {
    display: inline-block;
    padding-top: 4em;
  }

  .nav-bar {
    padding-top: 1em;
  }

  .navbar-nav .nav-link {
    padding-left: 3em;
  }

  .img-coffee-container {
    margin: 4em 0 0 0;
    height: 25em;
  }

  .shadow {
    padding: 0;
  }

  .img-background {
    display: none;
  }

  .img-background-mobile {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .welcome-text {
    line-height: 2.5em;
    top: 0;
    left: 0;
    padding: 0 1em 1em 1em;
  }

  .hello-text1 {
      top: 2em;
      left: 0;
      text-align: left;
      font-size: 1em;
      letter-spacing: 0.05em;
      line-height: 1.6em;
      font-weight: 100;
      width: 100%;
      height: 20em;
      text-align: center;
  }

  .br-mobile {
    display: none;
  }

  .about-mobile {
    padding-top: 1em;
  }

  .about {
    margin: 0;
    padding: 1em;
  }

  .portfolio {
    margin: -4em 0 1em 1em;
  }

  .github-card {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: auto;
    right: auto;
  }

  .mevulo-card {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: auto;
    right: auto;
    margin-top: 3em;
  }
  .contact-desktop {
    display: none;
  }

  .contact-mobile {
    display: inline-block;
    margin-bottom: 4em;
  }

  .contact {
    margin-top: 10em;
    margin-bottom: 5em;
  }

  .business-card-mobile {
    background-color: white;
    position: relative;
    margin: 0 auto;
    /*top: -26em;*/
    /*top: 3.5em;
    left: 5.5em;*/
    width: 100%;
    height: 20em;
    text-align: left;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    color: #d0a233;
    font-family: 'Merriweather', serif;
  }

  .business-card-img-mobile {
    width: 8em;
    height: 100%;
    object-fit: cover;
    float: left;
    padding-left: -15px;
  }

  .business-card-text1 {
    padding-top: 0;
    line-height: 2em;
    padding-left: 0;
  }

  .name {
    padding-left: 0.5em;
    font-size: 1.3em;
  }

  .title {
    font-size: 0.7em;
  }

  .email {
    font-size: 0.9em;
  }

  .img-about-container-mobile {
    margin: 2em 0 2em 0;
    height: 10em;
    width: auto;
  }

  .grey-background {
    margin: 2em 0 30em 0;
    padding: 7em 0 10em 0;

  }

  .footer {
    margin: 0 auto;
    padding-bottom: 1em;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<iPad>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<          >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-bar {
    padding-top: 1em;
  }

  .welcome-text {
    left: 0em;
  }

  .business-card-img1 {
    width: 30%;
  }

  .business-card-text1 {
    padding-left: 11em;
    text-align: center;
  }

  .github-card {
    right: 0em;
    width: 19em;
  }

  .mevulo-card {
    left: 0em;
    top: -8em;
    width: 19em;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<iPad horizontal>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<          >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1024px) and (max-width: 1100px) {
  .welcome-text {
    left: 0em;
  }

  .business-card-text1 {
    padding-left: 13em;
    margin: 1em;
    text-align: center;
  }
}
